 <footer class="bg-success bg-opacity-75 text-white text-center py-3">
        <div>
            <!-- Redes sociales -->
            <a href="#" class="text-dark me-3">Facebook</a>
            <a href="#" class="text-dark me-3">Twitter</a>
            <a href="#" class="text-dark me-3">Instagram</a>
        </div>
        <div>
            <!-- Correo electrónico y contacto -->
            <p>Email: ejemplo@correo.com</p>
            <p>Sugerencias y quejas: <a href="#">Contacto</a></p>
        </div>
    </footer>
